/*********************/
/* CUSTOM PROPERTIES */
/*********************/

/********/
/* MAIN */
/********/

main{
    display: grid;
    row-gap: .7em;
    column-gap: .7em;
    background-color: var(--achtergrond-apple);
}




/**********/
/* sections */
/**********/
main section{
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center top;
    height: 30em;

    display: grid; 
    grid-template-columns: 1fr 12.5em 1fr;
    text-align: center;
}

main section h2{
    color: var(--apple-zwart);
    margin: 0;
    grid-column: 2 / 3;
    
}

main section > a{
    grid-column: 1 / -1;
    grid-row: 1 / 5;
}

main section p{
    grid-column: 2 / 3;
    margin: 0;
}

main section a:nth-of-type(2){
    grid-column: 2 / 3;
}

main section a:nth-of-type(3){
    grid-column: 2 / 3;
    justify-self: end;
}

main section a:nth-of-type(2), main section a:nth-of-type(3){
    border: solid var(--link-blauw) 0.1em;
    border-radius: 2em;
	padding: 0.5em 1em;
    text-decoration: none;
    font-size: 0.9em;
}

main section a:nth-of-type(2){
    background-color: var(--link-blauw);
    color: var(--apple-wit);
    width: 9em;
}

main section a:nth-of-type(3){
    color: var(--link-blauw);
    width: 4.1em;
}

main section a:nth-of-type(2):active{
    color: var(--apple-wit);
    background-color: var(--link-blauw);
}

main section a:nth-of-type(2):hover{
    color: var(--apple-wit);
    background-color: var(--link-blauw);
}


/**********/
/* section 1 */
/**********/
main section:nth-of-type(1){
    background-image:url(../images/iPhone16Pro.jpg);

    grid-template-rows: 22em 1fr 1fr 2.3em;
    column-gap: 0.5em;
    row-gap: 0.5em;
}

main section:nth-of-type(1) h2{
    color: var(--apple-wit);
    grid-row: 2 / 3;
}

main section:nth-of-type(1) a:nth-of-type(2),main section:nth-of-type(1) a:nth-of-type(3){
    grid-row: 3 / 4;
}

main section:nth-of-type(1) a:nth-of-type(2),main section:nth-of-type(1) a:nth-of-type(3){
    border-color: var(--link-blauw);
}




/**********/
/* section 2 */
/**********/
main section:nth-of-type(2){
    background-image:url(../images/iPhone16.jpg);

    grid-template-rows: 1.8em 1fr 1fr 22em;
    column-gap: 0.5em;
    row-gap: 0.5em;
}

main section:nth-of-type(2) h2{
    color: var(--apple-wit);
    grid-row: 2 / 3;
}

main section:nth-of-type(2) a:nth-of-type(2),main section:nth-of-type(2) a:nth-of-type(3){
    grid-row: 3 / 4;
    border: solid var(--apple-wit);   
}

main section:nth-of-type(2) a:nth-of-type(2){
    background-color: var(--apple-wit);
    color: var(--apple-zwart);
}

main section:nth-of-type(2) a:nth-of-type(3){
    color: var(--apple-wit);
}

main section:nth-of-type(2) a:nth-of-type(3):active{
    background-color: var(--apple-wit);
    color: var(--apple-zwart);
}




/**********/
/* section 3 */
/**********/
main section:nth-of-type(3){
    background-image:url(../images/iPadPro.jpg);
    grid-template-rows: 1.8em 1fr 1fr 1fr 19em;
    column-gap: 0.5em;
    row-gap: 0.5em;
}

main section:nth-of-type(3) h2{
    color: var(--apple-wit);
    grid-row: 2 / 3;
}

main section:nth-of-type(3) p{
    color: var(--apple-wit);
    grid-row: 3 / 4;
}

main section:nth-of-type(3) a:nth-of-type(2),main section:nth-of-type(3) a:nth-of-type(3){
    grid-row: 4 / 5;
}





/**********/
/* section 4 */
/**********/
main section:nth-of-type(4){
    background-image:url(../images/airPods.jpg);
    grid-template-rows: 17em 1fr 1fr 1fr 2.3em;
    column-gap: .5em;
    gap: .5em;
}

main section:nth-of-type(4) h2{
    color: var(--apple-wit);
    grid-row: 2 / 3;
}

main section:nth-of-type(4) p{
    color: var(--apple-wit);
    grid-row: 3 / 4;
}

main section:nth-of-type(4) a:nth-of-type(2),main section:nth-of-type(4) a:nth-of-type(3){
    grid-row: 4 / 5;
}

@media screen and (min-width: 44em){
    main{
        grid-template-columns: repeat(2, 1fr);
    }
    main section:nth-of-type(1){
        background-image:url(../images/iPhone16Pro_maat2.jpg);
        grid-template-rows: 1.8em 1fr 1fr 22em;
        grid-area: 1 / 1 / 2 / 3;
    }
    main section:nth-of-type(2){
        background-image:url(../images/iPhone16_maat2.jpg) ;
        grid-area: 2 / 1 / 3 / 3;
    }
    main section:nth-of-type(3){
        grid-area: 3 / 2 / 4 / 3;
    }
    main section:nth-of-type(4){
        grid-area: 3 / 1 / 4 / 2;
    }
    main > ul{
        grid-area: 4 / 1 / 5 / 3;
    }
}




/**********/
/* Carousel*/
/**********/

main > ul{
    width: 100%;
}

main > ul{
    list-style: none;
    display: flex;
    padding: 0;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: inline mandatory;
    margin: 0;
}

main > ul > *{
    scroll-snap-align: center;
}

main > ul li{
    width: 60%;
    height: 28em;
    display: grid;
    grid-template-rows: .2em 2em 16em 1em 4em 2em 0em;
    gap: .4em;
    justify-items: center;
    background-size: cover;
}

main > ul li:nth-of-type(1){
    background-image:url(../images/f1Poster.jpg) ;
}
main > ul li:nth-of-type(2){
    background-image:url(../images/tedLassoPoster.jpg) ;
}
main > ul li:nth-of-type(3){
    background-image:url(../images/shrinkingPoster.jpg) ;
}
main > ul li:nth-of-type(4){
    background-image:url(../images/wolfsPoster.jpg) ;
}

main > ul li img:nth-of-type(1){
    width: 4em;
    grid-row: 2/3;
}

main > ul li img:nth-of-type(2){
    width: 16em;
    grid-row: 3/4;
}

main > ul li p{
    color: var(--apple-wit);
    text-align: center;
    margin: 0;
}

main > ul li p:nth-of-type(1){
    grid-row: 4/5;
    font-weight: bold;
}

main > ul li p:nth-of-type(2){
    grid-row: 5/6;
    font-size: .9em;
}

main > ul li a{
    grid-row: 6/7;
    background-color: var(--apple-wit);
    border-radius: 2em;
	padding: 0.5em 1em;
    height: 2.5em;
    
    text-decoration: none;
    color: var(--apple-zwart);
    font-size: 0.9em;
}

@media screen and (min-width: 65em){
    main > ul li p{
        text-shadow: var(--apple-zwart) .1em 0 .5em;       
    }
    
}