/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--apple-zwart:#1d1d1f;

	--apple-wit:#f5f5f7;

	--achtergrond-apple:#fafafc;
	--achtergrond-apple-dark:#161617;

	--header-background: rgba(22, 22, 23, .8);
	--hamburger-header-background: rgba(22, 22, 23);
	--navigatie-tekst: #E8E8ED;

	--link-blauw:#0071e3;

   }

/********************/
/* ALGEMENE STYLING */
/********************/
@font-face {
	font-family: "SanFransisco";
	font-weight: 400;
	src: url(../fonts/sfprodisplayregular-webfont.woff2) format("woff2");
	src: url(../fonts/sfprodisplayregular-webfont.woff) format("woff");
}

@font-face {
	font-family: "SanFransisco";
	font-weight: 500;
	src: url(../fonts/sfprodisplaymedium-webfont.woff2) format("woff2");
	src: url(../fonts/sfprodisplaymedium-webfont.woff) format("woff");
}

body {
	margin: 0; 
	padding: 0;
  }

body{
	font-family: SanFransisco;
}

/*main button{
	border-radius: 2em;
	padding: 7px 15px;
} 
*/
h2{
	font-family: sanFransisco;
	/*font-weight: 600;*/
	font-size: 2em;
}


/**********/
/* HEADER */
/**********/
header{
	background: var(--header-background);	
	color: var(--navigatie-tekst);
	top: 0;
	left: 0;
	right: 0;
	position: fixed; 
}

header nav{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	translate: 0% -100%;
	transition: 0.5s;
	background-color: var(--hamburger-header-background);
}

.open{
	translate: 0% 0%;
	transition: 0.5s;
}



/********/
/* MAIN */
/********/
main section{
	height: 30em;
}

img{
	max-width: 100%;
}





/**********/
/* FOOTER */
/**********/
details {
	border: 1px solid #aaa;
	border-radius: 4px;
	padding: 0.5em 0.5em 0;
}
  
summary {
	font-weight: bold;
	margin: -0.5em -0.5em 0;
	padding: 0.5em;
}
  
details[open] {
	padding: 0.5em;
}
  
details[open] summary {
	border-bottom: 1px solid #aaa;
	margin-bottom: 0.5em;
}
  




/**********/
/* section 1 */
/**********/